<section class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-5 bg-light rounded shadow">
                <h1 class="mb-4">Welcome {{username}} to Linezy!</h1>
                <p class="lead mb-4">
                    Discover the best way to manage your tasks and stay productive. Get started now and experience
                    seamless organization.
                </p>
                <div *ngIf="testData?.length">
                    <p *ngFor="let item of testData">{{ item.summary }}</p>
                </div>
                <a routerLink="/dashboard" class="btn btn-primary btn-lg m-1">Dashboard</a>
                @if (isAdmin) {
                    <a routerLink="/admin-panel" class="btn btn-primary btn-lg m-1">admin-panel</a>
                }
            </div>
        </div>
    </div>
</section>